<table>
  <tbody>
    <tr>
      <th>Mailchimp API Key</th>
      <td><input type="text" id="mailchimp_api_key" 
                 value="<%= settings['mailchimp_api_key'] %>" 
                 name="settings[mailchimp_api_key]" >
    </tr>
    <tr>
      <th>Mailchimp List ID</th>
      <td><input type="text" id="mailchimp_list_id" 
                 value="<%= settings['mailchimp_list_id'] %>" 
                 name="settings[mailchimp_list_id]" >
    </tr>
    <tr>

      <th>Double Opt-in</th>
      <td>
          <%= check_box_tag "settings[mailchimp_double_optin]", true,
          !!Setting.plugin_redmine_mailchimp[:mailchimp_double_optin] %>
      </td>
    </tr>
    <tr>
      <th>Update Existing</th>
      <td>
          <%= check_box_tag "settings[mailchimp_update_existing]", true,
          !!Setting.plugin_redmine_mailchimp[:mailchimp_update_existing] %>
      </td>
    </tr>
    <tr>
      <th>Replace Interests</th>
      <td>
          <%= check_box_tag "settings[mailchimp_replace_interests]", true,
          !!Setting.plugin_redmine_mailchimp[:mailchimp_replace_interests] %>
      </td>
    </tr>
    <tr>
      <th>Send Welcome Email</th>
      <td>
          <%= check_box_tag "settings[mailchimp_send_welcome]", true,
          !!Setting.plugin_redmine_mailchimp[:mailchimp_send_welcome] %>
      </td>
    </tr>

  </tbody>
</table>
